/*
Khizar Qureshi and Kendra Winhall
mockup1.css
For mockups assignment due 3 November 2022
*/

h1 { 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30pt;
    margin-left: 8px;
}

p { 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    margin-top: 16px;
    margin-left: 8px;
}
.input-group {
    margin-top: 6px;
    margin-bottom: 24px;
}

